.background-track {
  position: relative;
  width: 100%;
  height: 100%;
}

.game-container {
  width: 50%;
  height: 700px;
  margin-left: 25%;
  margin-top: 100px;
  border: 2px solid black;
}

.north {
  transform: rotate(0deg);
}

.south {
  transform: rotate(180deg);
}

.west {
  transform: rotate(-90deg);
}

.east {
  transform: rotate(90deg);
}

.northeast {
  transform: rotate(45deg);
}

.northwest {
  transform: rotate(-45deg);
}

.southwest {
  transform: rotate(-135deg);
}

.southeast {
  transform: rotate(135deg);
}
